.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

p {
    word-break: keep-all;
    line-height: 1.4;
}

.sec {
    padding: 100px 0;
}

.sec .tit {
    margin: 0 auto 30px auto;
}

.sec .tit h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 700;
}

.sec .tit p {
    font-size: 15px;
    word-break: keep-all;
    line-height: 19px;
}

body {
    min-height: 150vh;

}

.slick-track,
.slick-list {
    transition-delay: 30ms;
}

/* 헤더 */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
}

#header .inner {
    display: flex;
    align-items: center;
    height: 100px;
    transition: 0.5s;
}

#header.on .inner {
    height: 70px;
}


#header .gnb {
    margin: 0 0 0 auto;
}

#header .gnb>ul {
    display: flex;
    gap: 40px;
}

#header .gnb>ul>li:hover {
    font-weight: 500;
    color: #1e41a1;
}

#header .service {
    margin: 0 0 0 50px;
}

/* 메인 */

#video {
    width: 100%;
    overflow: hidden;
    margin: 100px auto 0 auto;
    padding: 0 0 200px 0;
}

#video .ctr {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(0, -50%);
    padding: 5px 7px 6px 7px;

    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    outline: hidden;
    border: hidden;
}

.ctr::before {
    content: "\ea3b";
    font-family: xeicon;
}

.ctr.on::before {
    content: "\ea3e";
    font-family: xeicon;
}

#main_visual {
    padding: 0 0 200px 0;
}

#main_visual .tit {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;

}


#main_visual .tit p {
    font-size: 30px;
    font-weight: 300;
}

#main_visual .tit h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0 0 0;
    padding: 0 0 100px 0;
}

#main_visual .main_slide .itm {
    position: relative;
    height: 800px;
    padding: 0 0 100px 0;
}

#main_visual .main_slide .itm01 {
    background: url(../images/volvomain01.jpg) no-repeat center center/cover;
}

#main_visual .main_slide .itm02 {
    background: url(../images/volvomain02.jpg) no-repeat center center/cover;
}

#main_visual .main_slide .itm03 {
    background: url(../images/volvomain03.jpg) no-repeat center center/cover;
}

#main_visual .itm01 .slogan {
    position: absolute;
    text-align: left;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#main_visual .itm03 .slogan {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}

#main_visual .slogan h2 {
    margin: 0 0 10px 0;
    color: #222;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 4px #fff;
}

#main_visual .slogan p {
    color: #000;
    font-size: 15px;
    text-shadow: 0 0 4px #fff;
}

/* 슬라이드 */
#product {
    position: relative;
    padding: 0 0 250px 0;
}

#product .product_slide figure>img {
    cursor: pointer;
}

#product .tit h2 {
    font-size: 30px;
    font-weight: 500;
    padding: 0 0 30px 0;
}

#product .product_slide figure>p {
    padding: 10px 0 0 0;
    color: #333;
}

#product .arrows {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
}

#product .arrows i {
    position: absolute;
    top: 0;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

#product .arrows .left {
    left: 0;
}

#product .arrows .right {
    right: 0;
}

/* 슬라이드 사진 라인 맞추기, 사이 간격 */
.product_slide {
    margin: 0 -15px;
}

.product_slide figure {
    padding: 0 15px;
}

/* 내부 */
#content {
    position: relative;
    padding: 0 0 300px 0;
}

#content .seet {
    display: flex;
}

#content .seet img {
    filter: opacity(75%);
    height: 600px;
    object-fit: cover;
}

#content .seet h2 {
    font-size: 40px;
    font-weight: 600;
    margin: 90px 0 0 40px;
}

#content .seet a {
    position: absolute;
    top: 20%;
    right: 355px;
    border: 1px solid #9b9b9b;
    border-radius: 3px;
    font-size: 17px;
    background: rgba(255, 255, 255, 0.6);
    margin: 0 10px;
    padding: 15px 20px 13px 20px;
    transition: 0.3s;
}

#content .seet a:hover {
    color: #1e41a1;
    border: 1px solid #1e41a1;
}

#content .seet02 {
    position: absolute;
    top: 40%;
    left: 40%;
}

#content .seet02 img {
    border: 5px solid #fff;
    border-radius: 20%;
}


/* 공지 */
#customer {
    padding: 0 0 100px 0;
}

#customer .nav {
    display: flex;
    font-size: 20px;
    max-width: 1200px;
    padding: 0 15px;
    height: 100px;
    margin: 0 auto 50px auto;
}

#customer .nav>li {
    flex: 1;

}

#customer .nav>li a {
    display: block;
    text-align: center;
    line-height: 100px;
    transition: 0.3s;
}

#customer .nav>li:hover a {
    font-size: 22px;
    font-weight: 600;
    color: #1e41a1;
}

#customer .nav>li~li {
    border-left: 1px solid #333;
}

#customer .inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px 60px 15px;
}

#customer .list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: #fff;
    padding: 0 30px;
    margin: 0 0 10px 0;
    cursor: pointer;
}

#customer .list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    border-top: 1px solid #2895fa;
    border-left: 1px solid #2895fa;
    visibility: hidden;
    transition: 0.5s;
}

#customer .list:hover::before {
    width: 100%;
    height: 100%;
    visibility: visible;
}

#customer .list::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 1px solid #1e41a1;
    border-right: 1px solid #1e41a1;

    visibility: hidden;
    transition: 0.5s;
}

#customer .list:hover::after {
    width: 100%;
    height: 100%;
    visibility: visible;
}

#customer .list h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

#customer .list p {
    color: #666;
    font-weight: 300;
}

#customer .noti {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    color: #777;
    padding: 0 0 50px 0;
}


/* 푸터 */
#footer {
    padding: 35px 0;
    background: #666;
    color: #fff;
    text-align: center;
}

#footer .inner {
    font-size: 14px;
    font-weight: 300;
    color: #dfdfdf;
}

#footer .inner ul {
    display: flex;
    justify-content: center;
}

#footer .inner ul>li {
    padding: 0 15px 20px 15px;
}

#footer .inner ul>li:hover {
    color: #fff;
    font-weight: 400;
}


.to_top {
    position: fixed;
    bottom: 130px;
    right: 100px;

}

.to_top i {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}